$primary: #F29602;
$bg-color: #D9D9D9;
$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                .5rem;
$nav-link-color: #B8B8B8;
$nav-link-font-weight: bold;
$body-bg: $bg-color;

@import '~bootstrap/scss/bootstrap.scss';


.bg-color {
    background-color: $bg-color;
}

.sign-in-card {
    padding: 24px 36px;
    background-color: #fff;
    margin: auto;
    margin-top: 25vh;
    width: 500px;
    box-shadow: $box-shadow;
    border-radius: 12px;
}

.btn-login {
    width: 100%;
    background-color: $primary;
    color: #fff;
    font-weight: bold;
}

.btn-login:hover{
    background-color: #c57900;
    color: #fff;
}

.nav-link {
    margin-bottom: 24px;
}