$primary: #f29602;
$bg-color: #d9d9d9;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 0.5rem;
$nav-link-color: #b8b8b8;
$nav-link-font-weight: bold;
$body-bg: $bg-color;

@import "~bootstrap/scss/bootstrap.scss";

.bg-color {
    background-color: $bg-color;
}

.sign-in-card {
    padding: 24px 36px;
    background-color: #fff;
    margin: auto;
    margin-top: 25vh;
    width: 500px;
    box-shadow: $box-shadow;
    border-radius: 12px;
}

.btn-login {
    width: 100%;
    background-color: $primary;
    color: #fff;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #c57900;
    color: #fff;
}

.nav-item {
    margin-bottom: 24px;
}

.main-content {
    width: 75%;
    float: right;
    padding: 44px 24px 44px 0;
}

.form-control {
    background-color: white;
}

.form-control:focus {
    background-color: white;
}